:root {
  --primary-pink-color: #AF006B;
  --secondary-pink-color: #603285;
  --primary-white-color: #ffffff;
  --secondary-white-color: #ededed;
  --primary-black-color: rgba(0, 0, 0, 0.8);
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}