#profilePageContainer {
  width: 100vw;
  height: 95vh;
  background:  linear-gradient( 190grad, var(--primary-pink-color) 50%, var(--primary-white-color) 50%);
}

#profilePageContainer header {
  width: 100vw;
  background-color: var(--primary-pink-color);
}

#profilePageContainer header #logo {
  max-width: 400px;
  max-height: 50px;
  margin: 10px;
  margin-left: 50px;
}

#professionalProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

#professionalProfile #avatar {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  margin: 20px 50px 20px 50px;
}

#professionalProfile #professionalName{
  color: var(--primary-white-color);
  margin-bottom: 50%;
}

#professionalProfile h1 {
  margin-bottom: 0px;
}

#containerButtonHire{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#containerButtonHire button {
  font-size: x-large;
  color: var(--primary-white-color);
  background-color: var(--secondary-pink-color);
  border: 2px solid var(--secondary-pink-color);
  border-radius: 15px;
  padding: 5px;
}

#descriptionContainer h2 {
  margin: 5px;
  font-weight: 300;
}