#containerSearchProfessional {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#containerSearchProfessional header {
  width: 100vw;
  background-color: var(--primary-pink-color);
}

#containerSearchProfessional header #logo {
  max-width: 400px;
  max-height: 50px;
  margin: 10px;
  margin-left: 50px;
}

#searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

#searchContainer input {
  font-size: x-large;
  border: 2px solid var(--secondary-pink-color);
  border-radius: 8px;
  margin: 30px;
  padding: 5px;
  min-width: 600px;
}

#searchContainer button {
  background-color: var(--secondary-pink-color);
  border: 2px solid var(--secondary-pink-color);
  border-radius: 15px;
  font-size: x-large;
  color: var( --primary-white-color);
  padding: 8px;
}

#searchContainer button:hover {
  cursor: pointer;
  opacity: 0.8;
}